<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="../assets/graph/TITRE.png" height="50" class="d-inline-block align-top logo" alt="">
  
    </a>
  </nav>

  <div  class="bg" style="margin-top: 2%;margin-bottom: 1%;" >


    <div class="container truc justify-content-between">
        <h1 class="blue">Réinitialisation du </h1><h1 class="yellow">mot de passe</h1>
  
        <p style="color: grey;" >Merci d'entrez le mail où vous souhaitez réinitialiser le mot de passe</p>
  
        <div class="row text-center">
          <div class="col">
          <input type="email"  style="margin-right:10px" placeholder="Adresse mail" #passwordResetEmail required>

          <input type="submit" class="btn btn-primary" value="Envoyer" (click)="authService.ForgotPassword(passwordResetEmail.value)">
   

  
      <div class="redirectToLogin" style="margin-top: 20px;">
        <button style="margin-bottom: 10px;color: white;" class="btn btn-warning" routerLink="/sign-in">Retourner à l'accueil ?</button>
      </div>
  
    </div>

  </div>
</div>