<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="../assets/graph/TITRE.png" height="50" class="d-inline-block align-top logo" alt="">

  </a>
  <i (click)="openDialog(mytemplate)" style="cursor: pointer;" class="material-icons conne">
    account_circle
  </i>
</nav>

<body>
  <div class="bg">


    <section data-v-cdce0c68="" id="hero-home" class="hero with-video fullscreen">

      <div data-v-cdce0c68="" class="container">

        <div class="row mb-2">
          <div class="col">
            <img style="width: 170px;" class="text-center" src="../../../assets/{{img}}.png"> 
          </div>
          <br>
          <h1 data-v-cdce0c68="" class="hero-title spe">Les Pré-inscriptions en Ligne</h1>
          <br>

          
      
          <p class="spe2 mt-2">{{texte}}</p>       
            <div class="col">
              <button routerLink="/inscription" class="btn btn-primary">Nous rejoindre</button>
              <button (click)="openDialog(mytemplate)" class="btn btn-info ml-3">Connexion</button>
         
            </div> 
        </div>

        <div class="row text-center">

          
     


        </div>
  
      </div>
      <div data-v-cdce0c68="" class="overlay"></div> <video [muted]="'muted'" id="video" data-v-cdce0c68="" loop="loop"
        autoplay="autoplay" preload="auto" playsinline="">
        <source data-v-cdce0c68="" type="video/mp4" src="../../../assets/video/vide.mp4"></video>
    </section>


    




  </div>


  <div class="card-body neu2 mb-1">


        
          <div class="container text-center" data-v-153d7c90="">
         
              <div class="title " data-v-153d7c90="">
              <h3 data-v-153d7c90="" class="bluefin2">Vous souhaitez le PIL pour votre centre ? 🏆 </h3>
              <div class="buttons text-center" data-v-153d7c90="">
                <a href="https://csconnectes.eu/" id="Prefooter_Contact" target="_blank" rel="noopener noreferrer" class="btn btn-primary" data-v-153d7c90="">Contactez-nous</a>
       
             </div>
             </div> 
          
      
        </div>
    
  
      </div>
      




  <br>




    <h1 class="blue ml-2">Comment ça <h1 class="yellow"> fonctionne ? </h1> </h1>
 
 
 <hr>
  

  
  <!-- <div style="margin-top: 1%;">
    <img  width="100%" src="../assets/graph/logo.jpg">
    </div> -->

  <div data-v-864d7e6e="" class="container neu2 mt-5 text-center mb-4">
 
  <br>
    <!-- <hr class="mb-2"> -->
    <div data-v-864d7e6e="" class="row">
      <div data-v-864d7e6e="" class="col-lg howto-step"><a data-v-864d7e6e="" class=""
          id="HowTo_SignUp" title="Je m'inscris">
          <figure data-v-864d7e6e="" class="full-center"><img data-v-864d7e6e="" style="height: 80px;width: 80px;"
              src="../../../assets/graph/Strategy_Goals_4.png" alt="Créez votre compte"></figure>
        </a>
        <h4 data-v-864d7e6e="">Mon inscription</h4>
        <p data-v-864d7e6e="">Je m'inscris sur le PIL en quelques clics, j'accède ensuite à mon compte personnel.</p>
      </div>
      <div data-v-864d7e6e="" class="col-lg howto-step">
        <figure data-v-864d7e6e="" class="full-center"><img data-v-864d7e6e="" style="height: 80px;width: 80px;"
          src="../../../assets/graph/4.png"></figure>
        <h4 data-v-864d7e6e="">Ma famille</h4>
        <p data-v-864d7e6e="">J'enregistre les membres de ma famille afin de les inscrires et visualiser les différents évènement en cours.</p>
      </div>
      <div data-v-864d7e6e="" class="col-lg howto-step">
        <figure data-v-864d7e6e="" class="full-center"><img data-v-864d7e6e="" style="height: 80px;width: 80px;"
          src="../../../assets/graph/5.png"></figure>
        <h4 data-v-864d7e6e="">Mes Evènements</h4>
        <p data-v-864d7e6e="">Je choisi les jours et les semaines pour inscrire mes enfants aux différents évènements que le centre propose.</p>
      </div>
      <div data-v-864d7e6e="" class="col-lg howto-step">
        <figure data-v-864d7e6e="" class="full-center"><img data-v-864d7e6e="" style="height: 80px;width: 80px;"
          src="../../../assets/graph/Startup_Doodle_4.png"></figure>
        <h4 data-v-864d7e6e="">Mon compte</h4>
        <p data-v-864d7e6e="">Depuis votre espace personel, vous pouvez gérer les inscriptions en cours pour votre famille, en toute sérénité.</p>
      </div>
      <div data-v-864d7e6e="" class="col-lg howto-step">
        <figure data-v-864d7e6e="" class="full-center"><img data-v-864d7e6e="" style="height: 80px;width: 80px;"
          src="../../../assets/graph/Startup_Doodle_3.png"></figure>
        <h4 data-v-864d7e6e="">C'est fini !</h4>
        <p data-v-864d7e6e="">Je me rend au près de mon centre social pour valider mon inscription.</p>
      </div>
    </div>
  </div>


<hr>

    
             
          

  <div class="row-fluid">

    <img width="10%" src="../assets/bar.png">
    <img width="90%" src="../assets/bar.jpg">

  </div>


  <div class="row-fluid">

    <img width="15%" class="ml-2 mt-2" src="../../../assets/jugeote.png">

  </div>

  <div class="mt-2 pt-5 pb-2 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2>Informations </h2>
          <hr style="background-color: white;">
          <p class="pr-5 text-white-50"><a href="https://pre-inscription.protocsconnectes.eu/wp-content/uploads/2019/01/TARIFS-2019-ACM-Belencontre-Phalempins.pdf"  target="_blank">Téléchargez les grilles tarifaire en cliquant ici</a></p>
          <p class="pr-5 text-white-50"><a href="https://pre-inscription.protocsconnectes.eu/wp-content/uploads/2019/06/TARIFS-M-2019-2020.pdf" target="_blank">Téléchargez ici les tarifs des MERCREDIS +</a></p>
          <p class="pr-5 text-white-50"><a href="https://pre-inscription.protocsconnectes.eu/wp-content/uploads/2019/06/TARIFS-M-2019-2020-Garderie-cantine.pdf" target="_blank">
            Téléchargez ici les tarifs des CANTINES & GARDERIES pour les MERCREDIS +</a></p>

          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <!-- <h4 class="mt-lg-0 mt-sm-3">Links</h4>
            <ul class="m-0 p-0">
              <li>- <a href="#">Lorem ipsum</a></li>
              <li>- <a href="#">Nam mauris velit</a></li>
              <li>- <a href="#">Etiam vitae mauris</a></li>
              <li>- <a href="#">Fusce scelerisque</a></li>
              <li>- <a href="#">Sed faucibus</a></li>
              <li>- <a href="#">Mauris efficitur nulla</a></li>
            </ul> -->
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Adresse</h4>
          <hr style="background-color: white;">
          <p> Avenue John Fitzgerald Kennedy, 59200 Tourcoing</p>
          <p class="mb-0">03 20 94 13 57</p>
          <p>contact@agcscbp.org</p>
        </div>
      </div>
   
    </div>
    </div>

</body>



<ng-template #mytemplate>
  <h1 class="blue text-center">Me connecter</h1>
  <hr>
  <form action='' class="mt-4 login cf">

    <input type="text" placeholder="Adresse mail" #userName required>
    <input type="password" placeholder="Mot de passe" #userPassword required>

    <br>
    <div class="formGroup float-right">
      <input  type="button" class="btn-primary btn-sm" value="Me connecter"
        (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>


    <br>
    <div class="forgotPassword">
      <span style="cursor: pointer;" (click)="goToVerif()">Mot de passe oublié ?</span>

    </div>

    <div class="redirectToLogin">
      <span style="cursor: default">Pas encore inscrit ?<span style="cursor: pointer;" class="redirect"
          routerLink="/inscription"> M'inscrire</span></span>
    </div>
  </form>
</ng-template>
