@import '~material-design-icons/iconfont/material-icons.css';
$blue : #525d7d;

@media screen and (max-device-width : 480px) {
 

    h1{
        font-size: 10px;
    }
    
    
p{
    font-weight: 700;
}


.blue{
  color: #525d7d;
  font-size: 30px!important;
  font-weight: 700;
  display: inline;
}

.yellow{
  color: #ffc400;
  font-size: 30px!important;
  font-weight: 700;
  display: inline;
}



}

@media only screen and (min-width : 1200px) {
    .container { max-width: 1800px; }
}
.truc{
    border-radius: 21px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  17px 17px 28px #c7c7c7, 
                 -17px -17px 28px #ffffff;



}

.neu2{
    border-radius: 21px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  17px 17px 28px #c7c7c7, 
             -17px -17px 28px #ffffff;
             margin-right: 20px;
             margin-top: 20px;
}

.neumr{
  border-radius: 21px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  17px 17px 28px #c7c7c7, 
           -17px -17px 28px #ffffff;
           margin-right: 10px;
           margin-top: 10px;
}

.neu3{
  border-radius: 21px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  17px 17px 28px #c7c7c7, 
               -17px -17px 28px #ffffff;
}

.neu4{
  border-radius: 21px;
background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  17px 17px 28px #c7c7c7, 
           -17px -17px 28px #ffffff;
          
}
*{
    font-family: 'Ubuntu', sans-serif;
   

}
.blue{
    color: #525d7d;
    font-size: 50px;
    font-weight: 700;
    display: inline;
}


.yellow{
    color: #ffc400;
    font-size: 50px;
    font-weight: 700;
    display: inline;
}

.btn-primary { 
    background-color: #525d7d;
    border-color: #525d7d;
}

.bg-light{
    background-color:rgb(245, 245, 245)!important
}



.conne{
    font-size: 50px;
    color: #525d7d;
}


input {
  
  }
 



      a { text-decoration:none }
    
a:hover { text-decoration:underline }

.flo-l { float:left }
.flo-r { float:right }
.clr-b { clear:both }
.clr-l { clear:left }
   .cf { overflow:hidden }

input[type='submit'],
input[type='checkbox'],
input[type='checkbox'] + label { cursor:pointer }




::ng-deep .mat-dialog-container {
      
  background-color: rgb(236, 235, 235)!important;
  color: #525d7d
}


.login {
  bottom: 0;
  width: 100%;
  padding: 16px 1.5em 1.5em;

  input[type='text'],
  input[type='password'] {
    width: 100%;
    margin-bottom: 1.5em;
    border: 0;
    border-radius: 3px;
    height: 2.2em;
    font-size: 1.2em;
    color: hsl(0, 0%, 40%);
    padding-left: 0.5em;
  }
  
  input[type='password'] {
    margin-bottom: 0.7em;
  }
  
  input[type='submit'] {
    margin-top: 0.7em;
    background: $blue;
    background: linear-gradient(lighten($blue, 2.5%), darken($blue, 2.5%));
    border-radius: 3px;
    border: 0;
    height: 2em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    padding: 0 0.5em;
    
    &:hover {
      background: linear-gradient(lighten($blue, 7.5%), lighten($blue, 2.5%));
    }
  }
  
  label.small {
    padding-left: 0.5em;
  }
}
.neuc {
border-radius: 48px;
background: linear-gradient(145deg, #ffffff, #dbdbdb);
box-shadow:  41px 41px 82px #cacaca, 
             -41px -41px 82px #ffffff;
}

.input-group-text{
  background-color: linear-gradient(145deg, #ffffff, #dbdbdb);
}
